 @use "./base" as *;
 @use "./constants" as *;

 html {
     box-sizing: border-box;
     font-size: 62.5%;
     // zoom: 200%;
 }

 div {
     box-sizing: border-box;
 }

 ul {
     margin: 0;
     padding: 0;
 }

 body {
     @include dim_height(auto);
     @include dim_width(100%);
     @include flex();
     @include font(normal, normal, var(--text-color-primary), var(--font-family-primary));
     background-color: $color-base-dark;
 }


 :root {
    --primary-color: #4CAF50;  // Verde en vez del azul por defecto
    --primary-color-text: #ffffff;
    --surface-ground: #f5f5f5;
    --text-color: #333333;
  }
  
  // Para el modo oscuro (si lo usas)
  .dark {
    --primary-color: #1e88e5; // Azul oscuro
    --primary-color-text: #ffffff;
    --surface-ground: #121212;
    --text-color: #ffffff;
  }

 // #root {

 //     position: relative;
 //     @include dim_width(100%, 144rem);
 //     @include dim_height();
 //     @include flex(start, center, column);
 //     // background-size: cover;
 //     // background-position: top right;
 //     // background-repeat: no-repeat;
 //     box-sizing: border-box;
 //     // --white-color: #F2F2F2;
 //     // --off-white-color: #DDDDDD;
 //     // --null-color: #6339c6;
 //     // --text-primary-color: #2FABCF;

 //     // --off-green-color: rgba(103, 141, 193, 0.648);
 //     // --strong-green-color: #286d66;
 //     // --hover-green-color: #1addc689;
 //     // --normal-green-color: #3EE6B4;
 //     // --gray-color: #3D3D3D;
 //     // --off-gray-color: #f2f2f26d;

 // }


 // ::selection {
 //     background-color: map-get($text_color, base);
 //     color: #141414;
 // }

 // /* SCROLL */
 // body ::-webkit-scrollbar {
 //     width: 1.2rem;
 //     background-color: var(--bg-color);

 // }

 // body ::-webkit-scrollbar-track {
 //     margin: 0;
 //     padding: 0;
 //     // -webkit-box-shadow: inset 0 0 6px rgba(196, 196, 196, 0.813);
 //     // background-color: #1c1c1c;
 // }

 // body ::-webkit-scrollbar-thumb {
 //     border: 1px solid var(--text-primary-color);
 //     background-color: #1c1c1c;
 //     border: 1px solid var(--border-primary);
 // }

 p {
     margin: 0;
     padding: 0;
 }