

#root {

    //% COLOR:
    --color-base-off: #838383;
    --color-base-off: #9f9f9f;
    --color-base: #E3E8E8;
    --color-base-off-dark: #333333;
    --color-base-dark: #05050A;


    --color-primary-off: #307063;
    --color-primary: #4DC5AC;
    // --color-primary-hover: #62efd2;
    --color-secondary-off: #352F91;
    --color-secondary: #5E51FF;
    --color-secondary-hover: #756cf0;


    --gradient-black: linear-gradient(124deg, #0E0E0E 0%, #151515 100%);
    --gradient-mixed: linear-gradient(90deg, #4DC5AC, #756cf0);
    --gradient-primary: linear-gradient(90deg, #4DC5AC, #53a7a2);
    --gradient-primary-off: linear-gradient(90deg, #06120f, #0d1b1a);

    // --color-tertiary-off: #6f20bd;
    // --color-tertiary: #a556f3;

    //% SEPARATOR:
    --gap-container: 2rem;
    --padding-x-container: 1.6rem;
    --padding-y-container: 1.6rem;

    //% BG:
    --bg-primary-gradient-dark: linear-gradient(124deg, #0E0E0E 0%, #151515 100%);

    //% BORDER:
    --border-primary: #323232;
    --border-secondary: #B7C2C3;
    --border-radius-primary: 1.2rem;
    --border-radius-secondary: 2.4rem;

    //% FONT:
    --font-family-primary: 'Poppins';
    // M+PLUS+Rounded+1c
    // --font-family-secondary: 'Inter';

    //% FONT SIZE:
    --font-size-extra-small: 0.8rem;
    --font-size-small: 1.2rem;
    --font-size-normal: 1.6rem;
    --font-size-medium: 2.2rem;
    --font-size-large: 3.2rem;

    //% FONT WEIGHT:
    // --font-weight-small: light;
    --font-weight-normal: 300;
    --font-weight-medium: 500;
    --font-weight-large: 500;

    //% FONT HEIGHT:
    --font-height-small: 0.8rem;
    --font-height-normal: 2.6rem;
    --font-height-medium: 2.0rem;
    --font-height-large: 3.2rem;


    //% GRADIENT:
    // --gradient-mixed: linear-gradient(180deg, #3D3D3D 0%, #5a5a5a 20%, #3D3D3D 80%, #3D3D3D 100%);
    // --gradient-secondary: linear-gradient(90deg, #03D3D3 0%, #1AA3C2 100%);

    --gradient-black: linear-gradient(124deg, #0E0E0E 0%, #151515 100%);

    // --gradient-success: linear-gradient(180deg, #2b6c64 0%, #22444a 100%);

    // --gradient-error: linear-gradient(180deg, #3114d4ab 0%, #5303d38d 100%);
}


//* SASS VARIABLES:

//% COLOR:
$color-base-off: #838383;
$color-base: #E3E8E8;
$color-base-off-dark: #333333;
$color-base-dark: #05050A;
$color-primary-off: #307063;
$color-primary-super-off: #0a2e2c;
$color-primary-off: #0e6059;
$color-primary: #4DC5AC;
$color-primary-hover: #62efd2;
$color-secondary-off: #352F91;
$color-secondary: #5E51FF;
$color-secondary-hover: #756cf0;
$color-rejected-off: #a12a44;
$color-rejected: #e23b51;

//% SEPARATOR:
$gap-container: 3.2rem;

$padding-card: 1.6rem;
$padding-x-card: 1.6rem;
$padding-y-card: 1.6rem;

$padding-container: 1.6rem;
$padding-x-container: 1.6rem;
$padding-y-container: 1.6rem;

//% BG:
$bg-primary-gradient-dark: linear-gradient(124deg, #0E0E0E 0%, #151515 100%);

//% BORDER:
$border-primary: #323232;
$border-secondary-off: #484848;
$border-secondary: #B7C2C3;
$border-radius-primary: 1.2rem;
$border-radius-secondary: 2.4rem;

//% FONT:
$font-family-primary: 'Poppins';
$font-family-secondary: 'Inter';

//% FONT SIZE:
$font-size-extra-small: 0.8rem;
$font-size-small: 1.2rem;
$font-size-normal: 1.6rem;
$font-size-medium: 2.2rem;
$font-size-large: 3.2rem;

//% FONT WEIGHT:
$font-weight-normal: 300;
$font-weight-medium: 500;
$font-weight-large: 500;

//% FONT HEIGHT:
$font-height-small: 2rem;
$font-height-normal: 2.8rem;
$font-height-medium: 3.0rem;
$font-height-large: 3.2rem;

//% GRADIENT:
$gradient-black: linear-gradient(124deg, #0E0E0E 0%, #151515 100%);
$gradient-mixed: linear-gradient(90deg, #4DC5AC, #756cf0);
$gradient-primary: linear-gradient(90deg, #4DC5AC, #53a7a2);
$gradient-primary-off: linear-gradient(90deg, #06120f, #0d1b1a);