#root {
    --primary-color: #4CAF50;  // Verde en vez del azul por defecto
    --primary-color-text: #a45050;
    --surface-ground: #f5f5f5;
    --text-color: #333333;
  }
  
  // Para el modo oscuro (si lo usas)
  .dark {
    --primary-color: #1e88e5; // Azul oscuro
    --primary-color-text: #b42424;
    --surface-ground: #121212;
    --text-color: #ae3939;
  }
  