$gradient_color: (
    primary: linear-gradient(180deg, #1F66EF 19.35%, #3EE6B4 100%),
    black_bg: linear-gradient(180deg, #0b0b0b 0%, #121212 100%),
    base_border:linear-gradient(180deg, #3D3D3D 0%, #303030 100%),
);


@function color_gradient($type) {
    @if $type =="primary" {
        @return map.get($gradient_color, primary);
    }

    @if $type =="base_border" {
        @return map.get($gradient_color, base_border);
    }

    @if $type =="black_bg" {
        @return map.get($gradient_color, black_bg);
    }

}

@mixin gradient($type) {
    background: color_gradient($type);
}

@mixin gradient_border($type) {
    border-image: color_gradient($type) 1;
}